  .dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  
  .app-bar {
	flex: 0 0 auto;
  }
  
  .menu-button {
	margin-right: 16px;
  }
  
  .search-bar {
	display: flex;
	align-items: center;
  }
